.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;
    padding-right:30%;
}

.movie-container > h2 {
    text-align: center;
}

.movie-list {
    border: 1px solid #786d6d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #8b7f7f;
    margin: 1rem;
}

.movie-list > h4 {
    margin: 0.5%;
}

.movie-list > h2 {
    text-decoration: underline;
  }